
html{
    font-size: 62.5%;
}
.grid-html {
    display: grid;
     grid-template-columns: 0.3fr 1fr;
    /*grid-template-rows: 0.2fr 0.2fr; */
    grid-template-areas: 
      'corpo corpo'
      'container-menu table-grid' ;
  } 


header {
    grid-area: corpo;
  font-size: 1.6rem;
  width: 126rem;
  background-color: #2d3e50;
  box-shadow: 2px 2px 2px grey;
  height: 6.8rem;
  text-align: center;
  box-shadow: 0 0 1em;
  position: relative;
  z-index: 2;
  
}
body {
    background-color: #f9f9f9;
    margin: 0;
}

.logo {
    height: 50px;
    width: 100px;
    float: left;
    margin-top: 10px;
    padding-left: 20px;
}

.containerMenu, shadow {
    grid-area: container-menu;
    width: 15rem;
    position: relative;
    float: left;
    background-color: white;
    height: 100vh; 
    padding: 16px;
    box-shadow: 0 0 0.3em gray ;

}
.containerContact {
    margin: -1rem 5rem;

  }

.containerMenu ul {
    list-style: none;
    font-size: 4.2rem;
    margin: -0.5rem 1rem 0rem 0rem;
    
} 

    /* Estilização da tabela  */
.table {   
    grid-area: table-grid;
    /* grid-template-columns: repeat(5, minmax(166px, 1fr));  */
    display: inline-table;
    background-color: white; 
    border: none;
    width: 90rem;
    color: grey;
    font-size: 1.5rem;
    margin-top: 6rem; 
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 0.3em gray ;
    overflow-y: auto;

}
tr:not(:last-child) {
    border-bottom: 1px solid rgb(185, 159, 159);
}


th, td {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

td, tr {      
    height: 4rem;
    padding: 0.5rem 2.2rem 1rem 0.7rem;
}
td:nth-child(6n){
    
    justify-content: flex-end;
    padding: 1rem 0rem 1rem 3rem;
}

td:first-child {
    text-align: center;
}

.search {
    margin-top: 2rem;
    width: 71rem;
    border-radius: 2.0rem;
    outline: 0;
    border: 1px solid;
    height: 3.5rem; 
} 

.fotos {
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
}

.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 500;
}
/* tabela icones */
.iconsTable {
    background-repeat: no-repeat;
    justify-content: flex-end;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1.5rem;
    margin: 0rem 0rem 0rem 2rem;
    border: none;
    background-color: white;
}
.iconsTable:hover {
    background-color: #aebe1e; 
}
/* ICONES */

.bi {
    background-image: url("svg/./lupa.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 10px;
}

.todos {
    background-image: url("svg/./todos.svg");
}
.check2 {
      background-image: url("svg/./check.svg");}
.trash {
    background-image: url("svg/./trash.svg");    
}

/* ICONES MENU */
.menu{
    background-repeat: no-repeat;
    padding-left: 4rem;
    background-position: 0.5rem 0.2rem;
    margin: 1rem 0rem 0rem -2rem; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: large;
    border: none;
    background-color: white;
}
.todos:hover, .check2:hover, .trash:hover {
    color: #aebe1e; 
}
.pessoa{
    background-image: url("svg/./pessoa.svg");
    background-repeat: no-repeat;
    float: right;
    background: rgb(255, 255, 255);
    margin: 2rem 2rem 0rem 0rem ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* .table > :not(caption) > * > * {
    padding: 0.5rem 1.5rem;
  } */

        /* DESKTOP */
@media (min-width: 1880px){      
    /* body{ background-color: royalblue;} */
    header {width: 190rem;}
    .containerMenu{ width: 18rem;}
    .table{width: 100rem;}
    .search{ width: 100rem; }
}


@media (max-width: 768px) {      
    /* body{ background-color: rgb(155, 231, 14);} */
   .menu{  margin: 1rem 0rem 0rem -5rem;}
   .containerMenu {width: 15rem; }
}

/*TABLET*/
@media screen and (min-width: 768) and (max-width: 1024) {
    .search { height: 1.6rem; width: 27rem; justify-content: center; margin-right: 10rem;} 

}

